@{
    ViewBag.Title = "Oops";
    ViewBag.Description = "Na web stránke niečo nie je v poriadku.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container card py-4">
    <h2 class="mb-3" style="color:#ffffff;text-shadow:1px 1px 4px #5d33fb">Niečo nie je v poriadku</h2>

    <p class="small text-muted">Pri spracovaní požiadavky na tejto stránke došlo k chybe.</p>

    <hr />

    <p>
        Mrzí nás to, ale pri načítaní alebo spracovaní stránky, ktorú ste sa pokúsili navštíviť,
        došlo k neočakávanej chybe.
    </p>
    <p>
        Skúste, prosím, akciu zopakovať o niekoľko sekúnd neskôr. Ak sa problém bude opakovať,
        kontaktujte nás a uveďte, na akej stránke sa chyba zobrazila.
    </p>
    <p>
        Ďakujeme za pochopenie.
    </p>

    <h4 class="mt-3">Kontaktné údaje prevádzkovateľa</h4>
    <p>
        V prípade otázok alebo opakovaného výskytu chyby nás môžete kontaktovať na e‑mailových adresách:
        <a href="mailto:info@ladowebservis.sk">info@ladowebservis.sk</a> alebo
        <a href="mailto:podpora@ladowebservis.sk">podpora@ladowebservis.sk</a>.
    </p>

    <p class="small text-muted">Admin info: LadoWebServis</p>

    <p>
        <a href="@Url.Action("Zdravie","Home", new { area = "Ladowebservis" })" class="btn btn-primary btn-md tlacitko-moje">Späť na úvod</a>
    </p>
</div>
