

<div>
    <p style="w3-card;pt-4;w3-text-grey;font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb">"Zdravý a spokojný klient je pre nás najväčšia odmena.Pocíťte to sami na sebe."</p>
    <p1 class="w3-padding-small">Nezabudnite akcia je predĺžená pri Vašej 1.objednávke použite kód Ladowebservis25 a máte 10% zlavu z nákupu,pozor len do 31.1.2025!!!</p1>
    <a style="w3-card;font-size:110px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb" href="https://buy.stripe.com/9AQaGCaYm9wO5mE7su?locale=sk&__embed_source=buy_btn_1QYziHHrPMzQ1ua8VRBZXyJH(" Kosik","Home")" title="Basket" target="_blank">
        <span class="w3-animate-right glyphicon glyphicon-shopping-cart"></span>
    </a>


    <p>
        <a href="@Url.Action("MemberInfo","Home")" class="btn btn-primary btn-lg tlacitko-moje">Späť do členskej sekcie</a>
    </p>

</div>


