

<div>
    <p style="w3-card;pt-4;w3-text-grey;font-size:22px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb">"Zdravý a spokojný klient je pre nás najväčšia odmena.Pocíťte to sami na sebe."</p>
    <p1 class="w3-padding-small">Nezabudnite Pri 1.objednávke a novej registrácii použite kupón FRIENDS25 a máte 10% zľavu z nákupu!!!</p1>
    <a style="w3-card;font-size:110px;color:#ffffff;text-shadow:1px 1px 4px #5d33fb" 
       <script async
        src="https://js.stripe.com/v3/buy-button.js">
</script>

<stripe-buy-button buy-button-id="buy_btn_1Qr3pPHrPMzQ1ua8bEe7WMIU"
                   publishable-key="pk_live_51P80kcHrPMzQ1ua8JUHSe4iUQ9sLHonQMmFzwyRKnq2xTpB6mhuJVc4OdBKa04BJzpsjjliSrBoNnftkBxwntFF300mePdWSx3">
</stripe-buy-button>
        <span class="w3-animate-right glyphicon glyphicon-shopping-cart"></span>
    </a>


    <p>
        <a href="@Url.Action("MemberInfo","Home")" class="btn btn-primary btn-lg tlacitko-moje">Späť do členskej sekcie</a>
    </p>

</div>


